// the nav is a footer
nav {
  order: 3;
  //background-color: #E6DFCF;
  background-color: #F5EFE1;
  > strong {
    display: block;
    font-size: 2rem;
    padding: 1rem 1rem 0;
  }
  > div {
    display: flex;
    > div {
      margin: 1rem;
      width: 9rem;
      > a {
        color: inherit;
        display: block;
        line-height: 1.2rem;
        text-decoration: none;
        &:hover {
          background-color: #DED0A6;
          text-decoration: underline;
        }
        &.breadcrumb {
          background-color: #DED0A6;
        }
      }
    }
  }
}
