<strong>Menu</strong>
<div>
    <div>
    <a href="{{ 'eugen-rosenstock-huessy/' | relative_url }}"><strong>Wie is Eugen Rosenstock-Huessy</strong></a>
    {% assign lists = site.lists | where: "column", "1" | sort: "row" %}
    {% for list in lists %}
      <a href="{{ list.url | relative_url }}" class="{% if list.used-categories contains page.category %}breadcrumb{% endif %}">{{ list.menu | default: list.title }}</a>
    {% endfor %}
  </div>
  <div>
    {% assign lists = site.lists | where: "column", "3" %}
    <a href="{{ 'essays/' | relative_url }}" class="{% if lists.first.used-categories contains page.category %}breadcrumb{% endif %}">Essays</a>
  </div>
  <div>
    <a href="{{ 'vereniging-respondeo/' | relative_url }}" class="{% if page.category == "over" %}breadcrumb{% endif %}"><strong>Over Respondeo</strong></a>
    {% assign lists = site.lists | where: "column", "2" | sort: "row" %}
    {% for list in lists %}
      <a href="{{ list.url | relative_url }}" class="{% if list.used-categories contains page.category %}breadcrumb{% endif %}">{{ list.menu | default: list.title }}</a>
    {% endfor %}
  </div>
</div>
