---
tab_title: Vereniging Respondeo
description: De vereniging Respondeo stelt zich ten doel het bestuderen van het werk van Eugen Rosenstock-Huessy. De vereniging tracht dit doel te bereiken door het organiseren van bijeenkomsten en het bevorderen van de beschikbaarheid van zijn werk door middel van vertaling, uitgave en beheer.
---

<a href="{{ '/text-erh-wereld-ontoegewesen' | relative_url }}">
  <img src="{{ 'assets/images/bipolar_world.png' | relative_url }}" class="img-right img-large" alt="Uncentered World">
</a>
{% assign articles = site.articles | where: "landingpage", "front" | sort: "order-lp" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <h2>{{ article.title }}</h2>
      {{ article.excerpt }}
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
      <hr>
    </div>
  {% endfor %}
</div>

<h3>Laatste veranderingen</h3>
{% assign articles = site.articles |  sort: "published" | reverse %}
<div class="articles">
  {% for article in articles limit:10 %}
    <div>
      {{ article.published | append: ": " }}<a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>
<a href="{{ '/zz-all-pages' | relative_url }}">{{ "Overzichtspagina" }}</a>
