---
title: Overzichtspagina
category: contact
---

<h3>Artikelen</h3>
{% assign articles = site.articles |  sort: "published" | reverse %}
{% assign article-count = 0 %}
<div class="articles">
  {% for article in articles  %}
    <div>
      {{ article.published | default: 2021 | append: ": " }}{{article.essay-nr | append: " "}}<a href="{{ article.url | relative_url }}">{{ article.title }}</a>
      {% assign article-count = article-count | plus: 1 %}
    </div>
  {% endfor %}
</div>

<h3>Essay nummers</h3>
{% assign articles = site.articles | where: "category", "essay" | sort: "essay-nr" | reverse %}
<div class="articles">
  {% for article in articles %}
    {% if article.essay-nr %}
      <div>
        {{article.essay-nr | append: " "}}<a href="{{ article.url | relative_url }}">{{ article.title }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>


<h3>Lijsten</h3>
{% assign list-count = 0 %}
<div class="articles">
  {% for list in site.lists %}
    <div>
      <a href="{{ list.url | relative_url }}">{{ list.title }}</a>
      {% assign list-count = list-count | plus: 1 %}
    </div>
  {% endfor %}
</div>

<h3>Homepage</h3>
<div class="articles">
  {% for index in site.index %}
    <div>
      <a href="{{ index.url | relative_url }}">{{ "Homepage" }}</a>
    </div>
  {% endfor %}
</div>

<p><i>Statistieken: artikelen: {{ article-count }}, lijsten: {{ list-count }}, homepages: 1</i></p>
