---
title: Bijeenkomsten
column: 2
row: 1
used-categories: bijeenkomst
---
{% include carousel.html
   title="Vergader locaties"
   image1="irene-twello.jpg"
   caption1="Gebouw Irene, Twello"
   image2="synagoge-deventer.jpg"
   caption2="Synagoge Deventer"
   image3="rosenstock-huessy-huis.jpg"
   caption3="Rosenstock-Huessy-Huis, Haarlem"
   image4="ichtuskerk_colmschate.jpeg"
   caption4="Ichtuskerk Colmschate"
%}

{% assign articles = site.articles | where: "category", "bijeenkomst" | sort: "created" | reverse %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a><br>
      Thema: <em>{{ article.thema }}</em>
    </div>
  {% endfor %}
</div>
