---
title: Boeken
column: 1
row: 4
used-categories: boek
---

{% include carousel.html
   title="Boeken"
   image1="De-grote-revoluties.jpg"
   caption1="De grote revoluties"
   image2="Als-Hitler-valt-2.jpg"
   caption2="Als Hitler valt"
   image3="Het-wonder-van-de-taal.jpg"
   caption3="Het wonder van de taal"
   image4="taal-van-de-ziel-1.jpg"
   caption4="De taal van de ziel"
%}
<br/>

{% assign articles = site.articles | where: "category", "boek" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>

<br/>

<p>Vereniging Respondeo verzorgt of ondersteunt de uitgave van vertalingen en publicaties
die aansluiten op het gedachtengoed van Rosenstock-Huessy.</p

<p>Veel Engelstalige boeken zijn ondergebracht bij uitgeverij
  <a href="https://wipfandstock.com/search-results/?series=an-argo-book">WIPF and STOCK</a>;
  zij hebben dit van Argobooks overgenomen..
</p>

<p>Een beter trans-atlantisch startpunt is de <a href="https://www.erhfund.org/">website van het Eugen Rosenstock-Huessy Fund</a>:
Naast veel informatie
en artikelen zijn daar de gerestaureerde audio-bestanden van lezingen en colleges te vinden.
Een overzichtelijke lijst van nog verkrijgbare boeken van en over Eugen Rosenstock-Huessy.</p>

<p>Als vereniging beheren wij een voorraad boeken die via <a href="https://www.boekwinkeltjes.nl/v/respondeo/">ons boekwinkeltje</a> te bestellen zijn.
  Een overzicht:
<img src="{{ 'assets/images/bestelbare-boeken.jpg' | relative_url }}" class="img-center img-xxlarge" alt="bestelbare boekeny">
</p>
