---
title: Essays
column: 3
row: 1
used-categories: essay, reactie
---
{% assign articles = site.articles | where: "category", "essay" | sort: "created" | reverse %}

<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
      {% assign reacties = site.articles | where: "category", "reactie" | where: "essay-nr", article.essay-nr  | sort: "created" %}
      {% if reacties.size > 0 %}
        <ul>
          {% for reactie in reacties %}
          <li> <a href="{{ reactie.url | relative_url }}">{{ reactie.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endfor %}
</div>
