---
title: "Interim: zinvol lezen"
menu: Interim
column: 2
row: 3
used-categories: interim
---
{% assign articles = site.articles | where: "category", "interim" | sort: "created" | reverse %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a><br/>
      Thema: <em>{{ article.thema }}</em>
    </div>
  {% endfor %}
</div>
