---
title: Nieuwsbrieven
column: 2
row: 2
used-categories: nieuwsbrief
---

{% assign articles = site.articles | where: "category", "nieuwsbrief" | sort: "created" | reverse %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>
<a href="#top">terug naar boven</a>
